* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: 'Bahiana', cursive;
  font-size: 50px;
}

h2 {
  color: red;
}

body {
  background: #C0CAAD;
  font-family: 'Open Sans', sans-serif;
  color: #2B2D42;
  font-size: 15px;
  text-align: center;
}

img {
  width: 50px;
  height: 55px;
}

#board {
  min-width: 300px;
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#board > div {
  width: 20%;
  height: 60px;
  border: 1px solid #8D99AE;
  color: #EDF2F4;
}

.left {
  width: 500px;
  float: left;
  text-align: left;
}

.colored {
  background: #654C4F;
}
